@use 'sass:list';

/** Variables **/
// Colors
$clr-dark-blue: hsl(235, 21%, 11%);
$clr-blue: hsl(235, 24%, 19%);
$clr-dark-grey: hsl(237, 14%, 26%);
$clr-grey: hsl(233, 14%, 35%);
$clr-light-grey: hsl(234, 11%, 52%);
$clr-offwhite: hsl(236, 33%, 92%);
$clr-white: hsl(0, 0%, 100%);
$clr-accent-blue: hsl(220, 98%, 61%);
$clr-accent-teal: hsl(192, 100%, 67%);
$clr-accent-purple: hsl(280, 87%, 65%);

// Typeography
$ff-body: 'Josefin Sans', sans-serif;

$fs-500: 2rem;
$fs-400: 1.25rem;
$fs-300: 1rem;

$fw-700: 700;
$fw-400: 400;
$fw-300: 300;

// Color Themes
$scheme-dark: $clr-white, $clr-dark-blue, $clr-blue, $clr-dark-grey, $clr-grey, $clr-white;
$scheme-light: $clr-dark-grey, $clr-offwhite, $clr-white, $clr-offwhite, $clr-offwhite, $clr-dark-grey;
$gradient:  $clr-accent-teal, $clr-accent-purple ;



/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: $ff-body;
}

img {
  max-width: 100%;
  display: block;
}

input,
button {
  font: inherit;
  background-color: inherit;
  border: none;
}



/** Mixins **/
@mixin color-scheme($text, $bg, $bg-secondary, $border-color, $btn-border-color, $hover-color) { 
    color: $text;
    background-color: $bg;

    .form,
    .actions, 
    .filter {
        background-color: $bg-secondary;  
    }

    .list-item {
        border-bottom: 1px solid $border-color;
    }

    .button {
        border-color: $btn-border-color;
    }

    .filter-btn:hover,
    .clear-btn:hover {
        color: $hover-color
    }
}



/** Themes  **/
.dark {
    @include color-scheme( $scheme-dark ...);
    background-image: url('../images/bg-mobile-dark.jpg');

    @media (min-width: 768px) {
        background-image: url('../images/bg-desktop-dark.jpg');
    }
}

.light {
    @include color-scheme($scheme-light ...);
    background-image: url('../images/bg-mobile-light.jpg');

    @media (min-width: 768px) {
        background-image: url('../images/bg-desktop-light.jpg');
    }
}



/** Utilities **/
.text-white { color: $clr-white; }
.text-grey { color: $clr-grey; }
.text-light-grey { color: $clr-light-grey; }

.fw-300 { font-weight: $fw-300; }
.fw-400 { font-weight: $fw-400; }
.fw-700 { font-weight: $fw-700; }

.p-sm { padding: .75rem 1.5rem; }
.p-md { padding: 1.25rem 1.5rem; }

.m-top-sm { margin-block-start: 1rem; }

.flex {
    display: flex;
    gap: 1rem;
}

// center along main axis
.justify-center {
    justify-content: center;
}

// push to edges along main axis
.justify-between {
    justify-content: space-between;
}

// center along the cross axis
.align-center {
    align-items: center
}

.input-alert {
    color: red;
}

.complete {
    text-decoration: line-through;
    opacity: 50%;
}



/** Components **/
.button {
    display: inline-grid;
    place-content: center;
    width: 25px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: solid 1px;
    padding: .25em;
    cursor: pointer;
    
    &.checked {
        background: linear-gradient($clr-accent-teal, $clr-accent-purple);
        border: none;
    }

    img {
        width: 15px;
        aspect-ratio: 1 / 1;
    }
}

.filter-btn, 
.clear-btn,
.mode-btn,
.add-btn,
.list-item {
    cursor: pointer;
}

.close-btn {
    display: none;
}

.active {
    color: $clr-accent-blue;
}




/** General Styles **/
.wrapper {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
}

.container {
    max-width: 32.25rem;
    margin-inline: auto;
    padding: 2rem 1rem;
}

.primary-header {
    margin-block-end: 1.5rem;
}

.form {
    gap: 0;
    border-radius: 10px;

    .add-btn {
        font-size: 1.5rem;
        display: flex;
        padding: .5rem;
    }
}

.actions {
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0 rgba($color: #000000, $alpha: .25);

    .list-item:hover {
        .close-btn {
            display: block;
        }
    }
    .title {
        cursor: pointer;
    }
}

.filter {
    border-radius: 10px;
}

